{%  if token %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3 text-center asx-footer">
                    <a href="{{ homework_href }}">
                        <i class="fa fa-book fa-2x"></i><br/>
                        {{ homework_menu }}</a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 text-center asx-footer">
                    <a href="{{ exams_href }}">
                        <i class="fa fa-file fa-2x"></i><br/>
                        {{ exams_menu }}</a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 text-center asx-footer" data-toggle="modal" data-target="#myScheduleTest">
                    <a href="{{ schedule_href }}">
                        <i class="fa fa-calendar fa-2x"></i><br/>
                        {{ schedule_menu }}</a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 text-center asx-footer">
                    <a href="{{ more_href }}">
                        <i class="fa fa-braille fa-2x"></i><br/>
                        {{ more_menu }}</a>
                </div>
            </div>
        </div>
        {#<div class="container">#}
        {#<div class="row">#}
        {#{% if informations %}#}
        {#<div class="col-sm-3">#}
        {#<h5>{{ text_information }}</h5>#}
        {#<ul class="list-unstyled">#}
        {#{% for information in informations %}#}
        {#<li><a href="{{ information.href }}">{{ information.title }}</a></li>#}
        {#{% endfor %}#}
        {#</ul>#}
        {#</div>#}
        {#{% endif %}#}
        {#<div class="col-sm-3">#}
        {#<h5>{{ text_service }}</h5>#}
        {#<ul class="list-unstyled">#}
        {#<li><a href="{{ contact }}">{{ text_contact }}</a></li>#}
        {#<li><a href="{{ return }}">{{ text_return }}</a></li>#}
        {#<li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>#}
        {#</ul>#}
        {#</div>#}
        {#<div class="col-sm-3">#}
        {#<h5>{{ text_extra }}</h5>#}
        {#<ul class="list-unstyled">#}
        {#<li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>#}
        {#<li><a href="{{ voucher }}">{{ text_voucher }}</a></li>#}
        {#<li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>#}
        {#<li><a href="{{ special }}">{{ text_special }}</a></li>#}
        {#</ul>#}
        {#</div>#}
        {#<div class="col-sm-3">#}
        {#<h5>{{ text_account }}</h5>#}
        {#<ul class="list-unstyled">#}
        {#<li><a href="{{ account }}">{{ text_account }}</a></li>#}
        {#<li><a href="{{ order }}">{{ text_order }}</a></li>#}
        {#<li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>#}
        {#<li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>#}
        {#</ul>#}
        {#</div>#}
        {#</div>#}
        {#<hr>#}
        {#<p>{{ powered }}</p>#}
        {#</div>#}
    </footer>
{% endif %}

{#{% for style in styles %}#}
    {#<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />#}
{#{% endfor %}#}
{#{% for script in scripts %}#}
    {#<script src="{{ script }}" type="text/javascript"></script>#}
{#{% endfor %}#}
</body></html>