{{ header_askphoenix }}
<body>
	<div class="container-fluid asx-login">
		<div class="row asx-header-login" style="padding-left:21px;padding-right:21px;">
			<h3>{{ heading_title }}</h3>
		</div>
		<div class="row text-center">
			<div class="asx-logo">
				<img src="image/icon.png" />
			</div>
		</div>
		<div class="row">
			<form method="POST" action="">
				<input type="text" name="username" id="username" placeholder="{{ input_phone }}" />
				<input type="password" name="password" id="password" placeholder="{{ input_password }}" />
				<button>{{ login_button }}</button>
				<p style="text-align:right;font-size:12px;padding-left:21px;padding-right:21px;">{{ forgot_password }} <strong>{{ reset_password }}</strong></p>
				<p class="error-msg" id="error_container">{% if message %}{{ message }}{% endif %}</p>
			</form>
		</div>
	</div>
{{ footer_askphoenix }}