<!DOCTYPE html>
<html style="background-color:#fafafa;">
<head>
  <title>On Time Travel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .ds-center {
      width:312px;
      height: 512px;
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
    }
  </style>
</head>
<body style="background-color: #fff; margin:0px;">
  <div class="ds-center">
    <img src="image/icon.png" alt="askphoenix.gr | empowering language teachers to be better teachers" title="askphoenix.gr | empowering language teachers to be better teachers" width="256" height="256" />
    <h1 style="font-size:82px;margin:0px;">404</h1>
    <h2>The page you are looking for has been moved or deleted</h2>
    <p><a style="background-color:#49b162;border:1px solid #399950;color: #fff;padding: 10px 20px;border-radius: 4px;text-decoration: none;" href="index.php?route=teacher/schedule">Navigate back to Dashboard</a></p>
  </div>
</body>
</html>