.asx-header-login {
	-webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.75);
}
/**
Switch language
 */
/**
Switch language
 */
.asx-switch-language .pick-language {
	border-bottom: 1px solid #333;
	padding:15px;
}
.asx-switch-language button {
	background-color: #ffc409;
	outline: transparent;
	display: block;
	padding: 15px;
	border:0;
}
.asx-switch-language label {
	font-size:18px;
}
.asx-login input[type="text"],
.asx-login input[type="password"],
.asx-login input[type="submit"] {
	width: 98%;
    outline: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: 0 auto 2%;
    display: block;
}
.asx-login button {
	width: 100%;
    background-color: #ffc409;
    outline: transparent;
    display: block;
    padding: 15px;
    bottom: 0px;
    position: absolute;
    border: 0px;
}
.asx-logo img {
	max-width: 512px;
	max-height: 512px;
    display: block;
    margin: 0 auto;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	/*color: #666;*/
	font-size: 16px;
	line-height: 20px;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
footer .fa {
    color: #666;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #23a1d1;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
/* top */
#top {
	background-color: #EEEEEE;
	border-bottom: 1px solid #e2e2e2;
	padding: 4px 0px 3px 0;
	margin: 0 0 20px 0;
	min-height: 40px;
}
#top .container {
	padding: 0 20px;
}
#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links {
	padding-top: 6px;
}
#top-links a + a {
	margin-left: 15px;
}
/* logo */
#logo {
	margin: 0 0 10px 0;
}
/* search */
#search {
	margin-bottom: 10px;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 35px;
	text-shadow: 0 1px 0 #FFF;
}
/* cart */
#cart {
	margin-bottom: 10px;
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
	overflow-y: auto;
	max-height: 800px;
	scrollbar-width: thin;
	overflow-x: hidden;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
	min-height: 40px;
}
#menu .nav > li > a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
.asx-header-container {
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(153,153,153,1);
    -moz-box-shadow: 0px 3px 7px 0px rgba(153,153,153,1);
    box-shadow: 0px 3px 7px 0px rgba(153,153,153,1);

}
/* content */
#content {
	min-height: 600px;
}
div.asx-more-menu a {
    display:block;
	padding:15px;
}
div.asx-more-menu {
	border-bottom:1px solid #000;
	cursor: pointer;
}
div.asx-schedule-courses,
div.asx-exam-courses,
div.asx-pick-a-day,
div.asx-exam,
div.asx-homework,
div.asx-homework-courses,
div.asx-account {
    border-bottom:1px solid #000;
    padding:15px;
    cursor: pointer;
}
div.asx-exam-material {
	font-size:14px;
	color:#707070;
}
div.asx-classroom-name {
	border-bottom:1px solid #000;
	padding:15px;
	color:#ed8254;
}
.asx-orange {
	font-size:12px;
	color:#ed8254;
	line-height:17px;
}
.asx-schedule-courses a,
.asx-exam-courses a,
.asx-more-menu a,
.asx-homework-courses a,
.asx-account a {
    color:#000;
}
div.asx-account-item {
	color: #979797;
}
div.asx-account-item a {
	color: #818181;
}
/* Exams - Lectures */
#myExamLectures a,
#myHomeworkLectures a,
#myExamEdit a,
#myExamCourses a,
#myHomeworkCourses a,
.asx-dynamic-materials a {
	color:#333;
}
#myExamLectures a:hover,
#myHomeworkLectures a:hover,
#myExamEdit a:hover,
#myExamCourses a:hover,
#myHomeworkCourses a:hover,
.asx-dynamic-materials a:hover {
	color:#ed8254;
}
.modal-header {
	-webkit-box-shadow: 0px 1px 5px 0px rgb(153 153 153);
	-moz-box-shadow: 0px 1px 5px 0px rgba(153,153,153,1);
	box-shadow: 0px 1px 5px 0px rgb(153 153 153);
}
#myAccountInfo input[type='password'] {
	border: 0px;
	border-bottom: 1px solid #333;
	width: 100%;
}
#myAccountInfo input[type='submit'] {
	background-color: #ffc409;
	border: 0px;
	padding: 10px 20px;
	color: #333;
	width: 100%;
}
div.asx-header-container .fa-icon-hover {
	color:#333;
}
div.asx-header-container .fa-icon-hover:hover {
	color: #ed8254;
}
/* footer */
footer {
	margin-top: 30px;
    padding: 15px 0;
	background-color: #fff;
	border-top: 1px solid #ddd;
	color: #000;
    position: fixed;
    width:100%;
    bottom:0;
}
.asx-footer .fa {
    cursor:pointer;
}
.asx-footer a {
    color:#666;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #ccc;
}
footer a:hover {
	color: #000;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
button.btn.asx-btn-modal {
	width: 100%;
	padding: 10px 20px;
	max-width: 80%;
	margin: 0 auto;
	display: inherit;
}
/**
 * Custom Margins & Paddings
 */
.asx-mt-10 {
	margin-top:10px;
}
.asx-form-books input,
.asx-form-books select {
	width:100%;
}
/*
 * Asxphoenix menu Exams
 */
.absolute-center,
.menu,
.menu .btn .fa,
.menu .btn.trigger .line {
	position: absolute;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.menu {
	width: 5em;
	height: 5em;
	right:0;
	bottom:8%;
}

.menu .btn {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: rgb(79 93 117);
	opacity: 0;
	z-index: -10;
	cursor: pointer;
	-webkit-transition: opacity 1s, z-index 0.3s, -webkit-transform 1s;
	transition: opacity 1s, z-index 0.3s, transform 1s;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

.menu .btn .fa {
	font-size: 3em;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	margin-top: 38%;
}
.menu .btn .fa:before {
	color:#fff;
}

.menu .btn:hover .fa { color: rgba(255, 255, 255, 0.7); }

.menu .btn.trigger {
	opacity: 1;
	z-index: 100;
	cursor: pointer;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.menu .btn.trigger:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.menu .btn.trigger:hover .line { background-color: rgba(255, 255, 255, 0.7); }

.menu .btn.trigger:hover .line:before,
.menu .btn.trigger:hover .line:after { background-color: rgba(255, f15, 255, 0.7); }

.menu .btn.trigger .line {
	margin-top: 38%;
	width: 60%;
	height: 6px;
	background: #fff;
	border-radius: 6px;
	-webkit-transition: background-color 0.3s, height 0.3s, top 0.3s;
	transition: background-color 0.3s, height 0.3s, top 0.3s;
}

.menu .btn.trigger .line:before,
.menu .btn.trigger .line:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 6px;
	background: #fff;
	border-radius: 6px;
	-webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
	transition: background-color 0.3s, transform 0.3s;
}

.menu .btn.trigger .line:before {
	top: -12px;
	-webkit-transform-origin: 15% 100%;
	-ms-transform-origin: 15% 100%;
	transform-origin: 15% 100%;
}

.menu .btn.trigger .line:after {
	top: 12px;
	-webkit-transform-origin: 25% 30%;
	-ms-transform-origin: 25% 30%;
	transform-origin: 25% 30%;
}

.menu .rotater {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.menu.active .btn-icon {
	opacity: 1;
	z-index: 50;
}

.menu.active .trigger .line {
	height: 0px;
	/*top: 45%;*/
}

.menu.active .trigger .line:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 110%;
}

.menu.active .trigger .line:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 110%;
}

.rotater:nth-child(1) {
	/*-webkit-transform: rotate(-22.5deg);*/
	/*-ms-transform: rotate(-22.5deg);*/
	/*transform: rotate(-22.5deg);*/
}

.menu.active .rotater:nth-child(1) .btn-icon {
	-webkit-transform:translateY(-10em);
	-ms-transform:translateY(-10em);
	transform:translateY(-10em);
	/*transform: translateX(-10em) rotate(22.5deg);*/
}

.rotater:nth-child(2) {
	-webkit-transform: rotate(22.5deg);
	-ms-transform: rotate(22.5deg);
	transform: rotate(22.5deg);
}

.menu.active .rotater:nth-child(2) .btn-icon {
	-webkit-transform: translateX(-10em) rotate(-22.5deg);
	-ms-transform: translateX(-10em) rotate(-22.5deg);
	transform: translateX(-10em) rotate(-22.5deg);
}

.rotater:nth-child(3) {
	-webkit-transform: rotate(67.5deg);
	-ms-transform: rotate(67.5deg);
	transform: rotate(67.5deg);
}

.menu.active .rotater:nth-child(3) .btn-icon {
	-webkit-transform: translateX(-10em) rotate(-67.5deg);
	-ms-transform: translateX(-10em) rotate(-67.5deg);
	transform: translateX(-10em) rotate(-67.5deg);
}

.rotater:nth-child(4) {
	-webkit-transform: rotate(112.5deg);
	-ms-transform: rotate(112.5deg);
	transform: rotate(112.5deg);
}

.menu.active .rotater:nth-child(4) .btn-icon {
	-webkit-transform: translateX(-10em) rotate(-112.5deg);
	-ms-transform: translateX(-10em) rotate(-112.5deg);
	transform: translateX(-10em) rotate(-112.5deg);
}

.rotater:nth-child(5) {
	-webkit-transform: rotate(157.5deg);
	-ms-transform: rotate(157.5deg);
	transform: rotate(157.5deg);
}

.menu.active .rotater:nth-child(5) .btn-icon {
	-webkit-transform: translateX(-10em) rotate(-157.5deg);
	-ms-transform: translateX(-10em) rotate(-157.5deg);
	transform: translateX(-10em) rotate(-157.5deg);
}

.rotater:nth-child(6) {
	-webkit-transform: rotate(202.5deg);
	-ms-transform: rotate(202.5deg);
	transform: rotate(202.5deg);
}

.menu.active .rotater:nth-child(6) .btn-icon {
	-webkit-transform: translateX(-10em) rotate(-202.5deg);
	-ms-transform: translateX(-10em) rotate(-202.5deg);
	transform: translateX(-10em) rotate(-202.5deg);
}

.rotater:nth-child(7) {
	-webkit-transform: rotate(247.5deg);
	-ms-transform: rotate(247.5deg);
	transform: rotate(247.5deg);
}

.menu.active .rotater:nth-child(7) .btn-icon {
	-webkit-transform: translateX(-10em) rotate(-247.5deg);
	-ms-transform: translateX(-10em) rotate(-247.5deg);
	transform: translateX(-10em) rotate(-247.5deg);
}

.rotater:nth-child(8) {
	-webkit-transform: rotate(292.5deg);
	-ms-transform: rotate(292.5deg);
	transform: rotate(292.5deg);
}

.menu.active .rotater:nth-child(8) .btn-icon {
	-webkit-transform: translateX(-10em) rotate(-292.5deg);
	-ms-transform: translateX(-10em) rotate(-292.5deg);
	transform: translateX(-10em) rotate(-292.5deg);
}

.rotater:nth-child(9) {
	-webkit-transform: rotate(337.5deg);
	-ms-transform: rotate(337.5deg);
	transform: rotate(337.5deg);
}

.menu.active .rotater:nth-child(9) .btn-icon {
	-webkit-transform: translateX(-10em) rotate(-337.5deg);
	-ms-transform: translateX(-10em) rotate(-337.5deg);
	transform: translateX(-10em) rotate(-337.5deg);
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 8px 0;
	border: 1px solid #ddd;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: -3px;
	right: -5px;
	width: 26px;
	height: 26px;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
html[dir=rtl] .breadcrumb > li::after {
  top: -3px;
  left: -5px;
  width: 26px;
  height: 26px;
  border-left: 1px solid #DDD;
  border-top: 1px solid #DDD;
  right: unset;
  border-right: unset;
  border-bottom:unset;

}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	font-weight: bold;
}
.product-thumb .caption {
	padding: 0 20px;
	min-height: 180px;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #444;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}
html[dir=rtl] .checkbox input[type="checkbox"],
html[dir=rtl] .checkbox-inline input[type="checkbox"],
html[dir=rtl] .radio input[type="radio"],
html[dir=rtl] .radio-inline input[type="radio"] {
    position: absolute;
    margin-top: 4px\9;
    margin-right: -20px;
      margin-left: unset;
}
html[dir=rtl] .input-group-btn:last-child > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
html[dir=rtl] .input-group .form-control:first-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
}
html[dir=rtl] .container .row:first-child  .col-sm-4, html[dir=rtl] .container .row:first-child  .col-sm-5 {
  float: right;

}
html[dir=rtl] #cart .dropdown-menu {
  left: 0;
  right: auto;

}
@media (min-width: 768px) {
   
    html[dir=rtl] .navbar-nav {
        float: right;
        margin: 0;
    }
    
    html[dir=rtl] .navbar-nav > li {
        float: right;
    }
   
}
