{{ header }}

{% if asx_message %}
    <script>
        Swal.fire({
            icon: 'info',
            text: '{{ asx_message }}'
        })
    </script>
{% endif %}

<div class="container-fluid asx-header-container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                <a href="{{ previous_current_url }}">
                    <i class="fa fa-arrow-left fa-icon-hover" style="margin-right:20px;font-size: 24px;width: fit-content;"></i>
                </a>
                {{ heading_title }}
            </h1>
        </div>
    </div>
</div>

{#{% for account_info_item in account_info %}#}
{% if account_info %}
    <div class="container-fluid asx-account-info">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 asx-account asx-account-item">
                <label>{{ account_last_name }}:</label><br />
                <a href="javascript:void(0);">{{ account_info.last_name }}</a>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 asx-account asx-account-item">
                <label>{{ account_first_name }}:</label><br />
                <a href="javascript:void(0);">{{ account_info.first_name }}</a>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 asx-account asx-account-item">
                <label>{{ account_phone_number }}:</label><br />
                <a href="javascript:void(0);">{{ account_info.phone_number }}</a>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 asx-account asx-account-item">
                <label>{{ account_email }}:</label><br />
                <a href="javascript:void(0);">{{ account_info.email_confirmed }}</a>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 asx-account" data-toggle="modal" data-target="#myAccountInfo">
                <p>{{ account_change_password }}</p>
            </div>
        </div>
    </div>
{% endif %}

<div class="modal fade" id="myAccountInfo" tabindex="-1" role="dialog" aria-labelledby="myAccountInfo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myAccountInfo">{{ account_change_password_title }}</h4>
            </div>
            <div class="modal-body">
                <form action="" method="post" role="form" class="asx-form-change-password">
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-md-12">{{ account_old_password }}:<br />
                                <input type="password" name="oldPassword" id="oldPassword" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">{{ account_new_password }}:<br />
                                <input type="password" name="newPassword" id="newPassword" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">{{ account_confirm_password }}:<br />
                                <input type="password" name="confirm_password" id="confirm_password" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <input type="submit" name="submit_change_password" id="submit_change_password" value="{{ account_change_password }}" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ modal_close }}</button>
            </div>
        </div>
    </div>
</div>


{{ footer }}