{{ header }}
<div class="container-fluid asx-header-container">
    <div class="row">
        <div class="col-md-12">
            <h1><i class="fa fa-calendar" style="margin-right:20px;"></i>{{ heading_title }}</h1>
        </div>
    </div>
</div>
{% for option in options %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12 asx-exam-courses" data-toggle="modal" data-target="#myExamCourses">
                <a href="{{ option.menu_option }}">{{ option.title_option }}</a>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 asx-exam-courses text-right" data-toggle="modal" data-target="#myExamCourses">
                <a href="{{ option.menu_option }}">
                    {% if display_selected.course_id %}
                        {{ display_selected.course_name }}
                    {% else %}
                        {{ choice_text }}
                    {% endif %}
                    &nbsp;&nbsp;<i class="fa fa-arrow-down"></i>
                </a>
            </div>
        </div>
    </div>
{% endfor %}

{% if pick_a_day %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12 asx-pick-a-day" data-toggle="modal" data-target="#myExamLectures">
                {{ pick_a_day }}
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 asx-pick-a-day text-right">
                {% if display_selected.date_format %}
                    {{ display_selected.date_format }}
                {% else %}
                    {{ choice_text }}
                {% endif %}
                <i class="fa fa-arrow-down"></i>
            </div>
        </div>
    </div>
{% endif %}

{% if display_selected.exam_classroom_name %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12 asx-pick-a-day">{{ classroom_title }} {{ display_selected.exam_classroom_name }}</div>
            <div class="col-md-3 col-sm-12 col-xs-12 asx-classroom-name text-right">{{ display_selected.exam_lecture_start_date_time|date("G:ia", "Europe/Athens") }} - {{ display_selected.exam_lecture_end_date_time|date("G:ia", "Europe/Athens") }}</div>
        </div>
    </div>
{% endif %}

{% if display_selected.exam_name %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 asx-exam text-center">
                <strong>{{ heading_add_exam_title }}</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12 asx-exam" data-toggle="modal" data-target="#myExamEdit">
                {{ heading_add_exam_title }}: {{ display_selected.exam_name }}
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 asx-exam text-right" data-toggle="modal" data-target="#myExamEdit">
                {{ edit_exam_btn_title }}&nbsp;<i class="fa fa-arrow-right" title="{{ display_selected.exam_name }}"></i>
            </div>
        </div>
    </div>
{% else %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <p class="asx-mt-10">{{ asx_lectures_exams_results }}</p>
                </div>
            </div>
        </div>
{% endif %}

{% if materials %}
    <div class="container-fluid">
        <div class="row">
            {% for material_item in materials %}
            <div class="col-md-9 col-sm-12 col-xs-12 asx-exam asx-exam-material" data-toggle="modal" data-target="#myExamMaterialEdit{{ material_item.material_id }}">
                {{ material_item.material_book_name }}
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 asx-exam asx-exam-material text-right" data-toggle="modal" data-target="#myExamMaterialEdit{{ material_item.material_id }}">
                {{ material_item.material_chapter }}, {{ material_item.material_section }}, {{ material_item.material_comments }}
                <i class="fa fa-arrow-right" title="{{ material_item.material_chapter }}, {{ material_item.material_section }}, {{ material_item.material_comments }}"></i>
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if display_selected.lecture_id %}
    <div class="menu">
        <div class="btn trigger">
            <span class="line"></span>
        </div>
        <div class="icons">
            {% if display_selected.exam_name %}
                <div class="rotater" data-toggle="modal" data-target="#myAddExamMaterial">
                    <div class="btn btn-icon">
                        <i class="fa fa-pencil" title="{{ add_exam_ili_title }}"></i>
                    </div>
                </div>
            {% else %}
                <div class="rotater" data-toggle="modal" data-target="#myAddExam">
                    <div class="btn btn-icon">
                        <i class="fa fa-file" title="{{ add_exam_title }}"></i>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}

{# VIEWS - Modal Views#}

<div class="modal fade" id="myExamCourses" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ modal_courses }}</h4>
            </div>
            <div class="modal-body">
                {% if asx_results %}
                    {% for result in asx_results %}
                        <a href="{{ current_url }}&id={{ result.id }}&course_name={{ result.name }}, {{ result.subCourse }} - {{ result.level }}">{{ result.name }}, {{ result.subCourse }} - {{ result.level }}</a><br/><br/>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ modal_close }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myExamLectures" tabindex="-1" role="dialog" aria-labelledby="myModaLectureslLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModaLectureslLabel">{{ pick_day_text }}</h4>
            </div>
            <div class="modal-body">
                {% if asx_lectures_results %}
                    <ul>
                        {% for result_lecture in asx_lectures_results %}
                            <li>
                                <a href="{{ current_url }}&id={{ display_selected.course_id }}&lecture_id={{ result_lecture.id }}&date_format={{ result_lecture.startDateTime|date("d/m/Y, D G:ia", "Europe/Athens") }}">
                                    {{ result_lecture.startDateTime|date("d/m/Y, D G:ia", "Europe/Athens") }} ({{ result_lecture.exam.name }})
                                </a><br/><br/>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ modal_close }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myAddExamMaterial" tabindex="-1" role="dialog" aria-labelledby="myAddExamMaterialLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myAddExamMaterialLabel">{{ heading_add_study_title }}</h4>
            </div>
            <div class="modal-body">
                <form action="" method="post" role="form" class="asx-form-books">
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-md-4">{{ course_text }}:</div>
                            <div class="col-md-8 text-right">{{ display_selected.course_name }}</div>
                            <input type="hidden" name="course_name" value="{{ display_selected.course_name }}" />
                            <input type="hidden" name="exam_id" value="{{ display_selected.exam_id }}" />
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">{{ pick_day_text }}:</div>
                            <div class="col-md-8 text-right">{{ display_selected.date_format }}</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">{{ modal_add_study_book_title }}:</div>
                            <div class="col-md-8 text-right">
                                <select name="book_id" id="book_id">
                                    {% if exam_study_books %}
                                        {% for exam_book_item in exam_study_books %}
                                            <option value="{{ exam_book_item.exam_study_books_id }}">{{ exam_book_item.exam_study_books_name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">{{ modal_add_study_chapter_exam_name }}:</div>
                            <div class="col-md-8 text-right"><input type="text" name="chapter" id="chapter" /></div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">{{ modal_add_study_section_name }}:</div>
                            <div class="col-md-8 text-right"><input type="text" name="section" id="section" /></div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">{{ modal_add_study_comments_title }}:</div>
                            <div class="col-md-8 text-right"><input type="text" name="comments" id="comments" /></div>
                        </div>

                        <div class="col-md-8"><input type="hidden" name="submit_material_form" id="submit_material_form" value="1" /></div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary asx-btn-modal">{{ add_material_btn_title }} <i class="fa fa-paper-plane-o ml-1"></i></button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ modal_close }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myAddExam" tabindex="-1" role="dialog" aria-labelledby="myAddExamLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myAddExamLabel">{{ heading_add_exam_title }}</h4>
            </div>
            <div class="modal-body">
                <form action="" method="post" role="form" class="asx-form-books">
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-md-4">{{ course_text }}:</div>
                            <div class="col-md-8 text-right">{{ display_selected.course_name }}</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">{{ pick_day_text }}:</div>
                            <div class="col-md-8 text-right">{{ display_selected.date_format }}</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">{{ modal_add_exam_name }}:</div>
                            <div class="col-md-8 text-right"><input type="text" name="exam_name" id="exam_name" /></div>
                        </div>
                        <div class="col-md-8"><input type="hidden" name="submit_form" id="submit_form" value="1" /></div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary asx-btn-modal">{{ add_exam_btn_title }} <i class="fa fa-paper-plane-o ml-1"></i></button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ modal_close }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myExamEdit" tabindex="-1" role="dialog" aria-labelledby="myExamEdit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myExamEdit">{{ heading_add_exam_title }}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-trash fa-2x"></i></div>
                    <div class="col-md-11 col-sm-11 col-xs-11" style="line-height: 32px;">
                        <a href="{{ current_url }}&delete={{ display_selected.exam_id }}">{{ edit_exam_delete_title }}</a>
                    </div>
                </div>
{#                <div class="form-group row">#}
{#                    <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-check-square fa-2x"></i></div>#}
{#                    <div class="col-md-11 col-sm-11 col-xs-11" style="line-height: 32px;">{{ edit_exam_score_title }}</div>#}
{#                </div>#}
                <div class="form-group row">
                    <div class="col-md-1 col-sm-1 col-xs-1" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close fa-2x"></i></div>
                    <div class="col-md-11 col-sm-11 col-xs-11" data-dismiss="modal" aria-label="Close" style="line-height: 32px;">{{ edit_exam_cancel_title }}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ modal_close }}</button>
            </div>
        </div>
    </div>
</div>

{% for material_item in materials %}
<div class="modal fade asx-dynamic-materials" id="myExamMaterialEdit{{ material_item.material_id }}" tabindex="-1" role="dialog" aria-labelledby="myExamMaterialEdit{{ material_item.material_id }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myExamMaterialEdit{{ material_item.material_id }}">{{ heading_add_study_title }}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-trash fa-2x"></i></div>
                    <div class="col-md-11 col-sm-11 col-xs-11" style="line-height: 32px;">
                        <a href="{{ current_url }}&delete_material={{ material_item.material_id }}">{{ edit_exam_material_delete_title }}</a>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-1 col-sm-1 col-xs-1" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close fa-2x"></i></div>
                    <div class="col-md-11 col-sm-11 col-xs-11" data-dismiss="modal" aria-label="Close" style="line-height: 32px;">{{ edit_exam_material_cancel_title }}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ modal_close }}</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}



<script>
    $(document).ready(function() {
        $(".trigger").click(function() {
            $(".menu").toggleClass("active");
        });
    });
</script>

{{ footer }}