{{ header }}
<div class="container-fluid asx-header-container">
    <div class="row">
        <div class="col-md-12">
            <h1><i class="fa fa-calendar" style="margin-right:20px;"></i>{{ heading_title }}</h1>
        </div>
    </div>
</div>
{% for option in options %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12 asx-homework-courses" data-toggle="modal" data-target="#myHomeworkCourses">
                <a href="{{ option.menu_option }}">{{ option.title_option }}</a>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 asx-homework-courses text-right" data-toggle="modal" data-target="#myHomeworkCourses">
                <a href="{{ option.menu_option }}">
                    {% if display_selected.course_id %}
                        {{ display_selected.course_name }}
                    {% else %}
                        {{ choice_text }}
                    {% endif %}
                    &nbsp;&nbsp;<i class="fa fa-arrow-down"></i>
                </a>
            </div>
        </div>
    </div>
{% endfor %}

{% if pick_a_day %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12 asx-pick-a-day" data-toggle="modal" data-target="#myHomeworkLectures">
                {{ pick_a_day }}
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 asx-pick-a-day text-right">
                {% if display_selected.date_format %}
                    {{ display_selected.date_format }}
                {% else %}
                    {{ choice_text }}
                {% endif %}
                <i class="fa fa-arrow-down"></i>
            </div>
        </div>
    </div>
{% endif %}

{% if display_selected.homework_classroom_name %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12 asx-pick-a-day">{{ classroom_title }} {{ display_selected.homework_classroom_name }}</div>
            <div class="col-md-3 col-sm-12 col-xs-12 asx-classroom-name text-right">{{ display_selected.homework_lecture_start_date_time|date("G:ia", "Europe/Athens") }} - {{ display_selected.homework_lecture_end_date_time|date("G:ia", "Europe/Athens") }}</div>
        </div>
    </div>
{% endif %}

{% if exercises_results %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 asx-homework text-center">
                <strong>{{ heading_add_homework_title }}</strong>
            </div>
        </div>
        {% for exercise_item in exercises_results %}
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 asx-homework" data-toggle="modal" data-target="#myExerciseEdit">
                    {{ heading_add_homework_title }}: {{ exercise_item.name }}
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 asx-homework text-right" data-toggle="modal" data-target="#myExerciseEdit">
                    <span class="asx-orange">{{ exercise_item.book.name }}, p. {{ exercise_item.page}}</span>&nbsp;<i class="fa fa-arrow-right" title="{{ exercise_item.name }}"></i>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <p class="asx-mt-10">{{ asx_lectures_homework_results }}</p>
            </div>
        </div>
    </div>
{% endif %}

{% if display_selected.lecture_id %}
    <div class="menu">
        <div class="btn trigger">
            <span class="line"></span>
        </div>
        <div class="icons">
{#            {% if display_selected.exam_name %}#}
{#                <div class="rotater" data-toggle="modal" data-target="#myAddExamMatirial">#}
{#                    <div class="btn btn-icon">#}
{#                        <i class="fa fa-pencil" title="{{ add_exam_ili_title }}"></i>#}
{#                    </div>#}
{#                </div>#}
{#            {% else %}#}
                <div class="rotater" data-toggle="modal" data-target="#myAddExercise">
                    <div class="btn btn-icon">
                        <i class="fa fa-file" title="{{ add_homework_title }}"></i>
                    </div>
                </div>
{#            {% endif %}#}
        </div>
    </div>
{% endif %}


{# VIEWS - Modal Views#}
<div class="modal fade" id="myHomeworkCourses" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ modal_courses }}</h4>
            </div>
            <div class="modal-body">
                {% if asx_results %}
                    {% for result in asx_results %}
                        <a href="{{ current_url }}&id={{ result.id }}&course_name={{ result.name }}, {{ result.subCourse }} - {{ result.level }}">{{ result.name }}, {{ result.subCourse }} - {{ result.level }}</a><br/><br/>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ modal_close }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myHomeworkLectures" tabindex="-1" role="dialog" aria-labelledby="myModaLectureslLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModaLectureslLabel">{{ pick_day_text }}</h4>
            </div>
            <div class="modal-body">
                {% if asx_lectures_results %}
                    <ul>
                        {% for result_lecture in asx_lectures_results %}
                            <li>
                                <a href="{{ current_url }}&id={{ display_selected.course_id }}&homework_lecture_id={{ result_lecture.id }}&date_format={{ result_lecture.startDateTime|date("d/m/Y, D G:ia", "Europe/Athens") }}">{{ result_lecture.startDateTime|date("d/m/Y, D G:ia", "Europe/Athens") }}</a><br/><br/>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ modal_close }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myExerciseEdit" tabindex="-1" role="dialog" aria-labelledby="myExerciseEdit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myExerciseEdit">{{ heading_add_homework_title }}</h4>
            </div>
            <div class="modal-body">
{#                <div class="form-group row">#}
{#                    <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-trash fa-2x"></i></div>#}
{#                    <div class="col-md-11 col-sm-11 col-xs-11" style="line-height: 32px;">#}
{#                        <a href="#" id="myExerciseEditInfo" tabindex="-1" role="dialog" aria-labelledby="myExerciseEditInfo">{{ edit_homework_btn_title }}</a>#}
{#                    </div>#}
{#                </div>#}
                <div class="form-group row">
                    <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-trash fa-2x"></i></div>
                    <div class="col-md-11 col-sm-11 col-xs-11" style="line-height: 32px;">
                        <a href="{{ current_url }}&delete={{ display_selected.exam_id }}">{{ delete_homework_delete_title }}</a>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-1 col-sm-1 col-xs-1" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close fa-2x"></i></div>
                    <div class="col-md-11 col-sm-11 col-xs-11" data-dismiss="modal" aria-label="Close" style="line-height: 32px;">{{ cancel_homework_title }}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ modal_close }}</button>
            </div>
        </div>
    </div>
</div>
{#<div class="modal fade" id="myExerciseEditInfo" tabindex="-1" role="dialog" aria-labelledby="myExerciseEditInfo">#}
{#    <div class="modal-dialog" role="document">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#                <h4 class="modal-title" id="myExerciseEditInfo">{{ heading_add_homework_title }}</h4>#}
{#            </div>#}
{#            <div class="modal-body">#}

{#            </div>#}
{#            <div class="modal-footer">#}
{#                <button type="button" class="btn btn-default" data-dismiss="modal">{{ modal_close }}</button>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<div class="modal fade" id="myAddExercise" tabindex="-1" role="dialog" aria-labelledby="myAddExerciseLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myAddExerciseLabel">{{ heading_add_homework_title }}</h4>
            </div>
            <div class="modal-body">
                <form action="" method="post" role="form" class="asx-form-books">
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-md-4">{{ course_text }}:</div>
                            <div class="col-md-8 text-right">{{ display_selected.course_name }}</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">{{ pick_day_text }}:</div>
                            <div class="col-md-8 text-right">{{ display_selected.date_format }}</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">{{ modal_add_homework_name }}:</div>
                            <div class="col-md-8 text-right"><input type="text" name="homework_name" id="homework_name" /></div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">{{ modal_add_study_book_title }}:</div>
                            <div class="col-md-8 text-right">
                                <select name="book_id" id="book_id">
                                    {% if exercise_study_books %}
                                        {% for exercise_book_item in exercise_study_books %}
                                            <option value="{{ exercise_book_item.exercise_study_books_id }}">{{ exercise_book_item.exercise_study_books_name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">{{ modal_add_homework_page }}:</div>
                            <div class="col-md-8 text-right"><input type="text" name="homework_page" id="homework_page" /></div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">{{ modal_add_homework_comments }}:</div>
                            <div class="col-md-8 text-right"><input type="text" name="homework_comments" id="homework_comments" /></div>
                        </div>
                        <div class="col-md-8">
                            <input type="hidden" name="submit_form" id="submit_form" value="1" />
                            <input type="hidden" name="book_name" id="book_name" value="" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary asx-btn-modal">{{ add_homework_btn_title }} <i class="fa fa-paper-plane-o ml-1"></i></button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ modal_close }}</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $(".trigger").click(function() {
            $(".menu").toggleClass("active");
        });
    });
</script>

{{ footer }}