{{ header }}

<div class="container-fluid asx-header-container">
    <div class="row">
        <div class="col-md-12">
            <h1><i class="fa fa-braille" style="margin-right:20px;"></i>{{ heading_title }}</h1>
        </div>
    </div>
</div>
<div class="container-fluid asx-switch-language">
    <div class="row">
        <div class="col-md-12" style="padding:15px;">
            <p>{{ explain_msg_switch_lang }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="" role="form" class="asx-form-switch-languages">
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-md-12 pick-language">
                            <input type="radio" name="greek_lang" id="greek_lang"/>
                            <label for="greek_lang">{{ english_txt }}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 pick-language">
                            <input type="radio" name="english_lang" id="english_lang"/>
                            <label for="english_lang">{{ greek_txt }}</label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-secondary asx-btn-modal">{{ save_btn }}</button>
            </form>
        </div>
    </div>
</div>

{{ footer }}