{{ header }}
<div class="container-fluid asx-header-container">
    <div class="row">
        <div class="col-md-12">
            <h1><i class="fa fa-braille" style="margin-right:20px;"></i>{{ heading_title }}</h1>
        </div>
    </div>
</div>
{% for option in options %}
    <div class="container-fluid asx-more-menu">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ option.menu_option }}">{{ option.title_option }}</a>
            </div>
        </div>
    </div>
{% endfor %}
{#<div class="modal fade" id="mySchedule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">#}
    {#<div class="modal-dialog" role="document">#}
        {#<div class="modal-content">#}
            {#<div class="modal-header">#}
                {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
                            {#aria-hidden="true">&times;</span></button>#}
                {#<h4 class="modal-title" id="myModalLabel">{{ modal_courses }}</h4>#}
            {#</div>#}
            {#<div class="modal-body">#}
                {#<strong>Όλα<br/><br/></strong>#}
                {#Αγγλικά A Senior<br/>#}
                {#Γαλλικά C1<br/>#}
            {#</div>#}
            {#<div class="modal-footer">#}
                {#<button type="button" class="btn btn-default" data-dismiss="modal">{{ modal_close }}</button>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</div>#}

{{ footer }}