{{ header }}
<div class="container-fluid asx-header-container">
    <div class="row">
        <div class="col-md-12">
            <h1><i class="fa fa-calendar" style="margin-right:20px;"></i>{{ heading_title }}</h1>
        </div>
    </div>
</div>
{% for option in options %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12 asx-exam-courses" data-toggle="modal" data-target="#myScheduleCourses">
                <a href="{{ option.menu_option }}">{{ option.title_option }}</a>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 asx-exam-courses text-right" data-toggle="modal" data-target="#myScheduleCourses">
                <a href="{{ option.menu_option }}">{{ all_text }}&nbsp;&nbsp;<i class="fa fa-arrow-down"></i>
                </a>
            </div>
        </div>
    </div>
{% endfor %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% if course_results_test[1] %}
                <div class="col-md-12 text-center"><h3>{{ monday_text }}</h3></div>
                {% for course_results_test_item in course_results_test[1]['classroom_name'] %}
                    <div class="col-md-4">{{ room_class_text }}&nbsp;{{ course_results_test_item }}</div>
                {% endfor %}
                {% for course_results_test_day in course_results_test[1]['start_time'] %}
                    <div class="col-md-4">{{ course_results_test_day }}</div>
                {% endfor %}
                {% for course_results_test_day in course_results_test[1]['end_time'] %}
                    <div class="col-md-4">{{ course_results_test_day }}</div>
                {% endfor %}
            {% endif %}
            {% if course_results_test[2] %}
                <div class="col-md-12 text-center"><h3>{{ tuesday_text }}</h3></div>
                {% for course_results_test_item in course_results_test[2]['classroom_name'] %}
                    <div class="col-md-4">{{ room_class_text }}&nbsp;{{ course_results_test_item }}</div>
                {% endfor %}
                {% for course_results_test_day in course_results_test[2]['start_time'] %}
                    <div class="col-md-4">{{ course_results_test_day }}</div>
                {% endfor %}
                {% for course_results_test_day in course_results_test[2]['end_time'] %}
                    <div class="col-md-4">{{ course_results_test_day }}</div>
                {% endfor %}
            {% endif %}
            {% if course_results_test[3] %}
                <div class="col-md-12 text-center"><h3>{{ wednesday_text }}</h3></div>
                {% for course_results_test_item in course_results_test[3]['classroom_name'] %}
                    <div class="col-md-4">{{ room_class_text }}&nbsp;{{ course_results_test_item }}</div>
                {% endfor %}
                {% for course_results_test_day in course_results_test[3]['start_time'] %}
                    <div class="col-md-4">{{ course_results_test_day }}</div>
                {% endfor %}
                {% for course_results_test_day in course_results_test[3]['end_time'] %}
                    <div class="col-md-4">{{ course_results_test_day }}</div>
                {% endfor %}
            {% endif %}
            {% if course_results_test[4] %}
                <div class="col-md-12 text-center"><h3>{{ thursday_text }}</h3></div>
                {% for course_results_test_item in course_results_test[4]['classroom_name'] %}
                    <div class="col-md-4">{{ room_class_text }}&nbsp;{{ course_results_test_item }}</div>
                {% endfor %}
                {% for course_results_test_day in course_results_test[4]['start_time'] %}
                    <div class="col-md-4">{{ course_results_test_day }}</div>
                {% endfor %}
                {% for course_results_test_day in course_results_test[4]['end_time'] %}
                    <div class="col-md-4">{{ course_results_test_day }}</div>
                {% endfor %}
            {% endif %}
            {% if course_results_test[5] %}
                <div class="col-md-12 text-center"><h3>{{ friday_text }}</h3></div>
                {% for course_results_test_item in course_results_test[5]['classroom_name'] %}
                    <div class="col-md-4">{{ room_class_text }}&nbsp;{{ course_results_test_item }}</div>
                {% endfor %}
                {% for course_results_test_day in course_results_test[5]['start_time'] %}
                    <div class="col-md-4">{{ course_results_test_day }}</div>
                {% endfor %}
                {% for course_results_test_day in course_results_test[5]['end_time'] %}
                    <div class="col-md-4">{{ course_results_test_day }}</div>
                {% endfor %}
            {% endif %}
{#            {% if course_results %}#}
{#                {% for course_result in course_results %}#}
{#                    {% if 3 == course_result.day_of_week %}#}
{#                        {{ "Τετάρτη" }}#}
{#                    {% elseif 4 == course_result.day_of_week %}#}
{#                        {{ course.result.day_of_week }}#}
{#                        {{ "Πέμπτη" }}#}
{#                    {% endif %}#}
{#                    <div class="col-md-6">{{ course_result.classroom_id }} - {{ course_result.classroom_name }}</div>#}
{#                    <div class="col-md-6 text-right">{{ course_result.start_time }} - {{ course_result.end_time }}</div>#}
{#                {% endfor %}#}
{#            {%  endif %}#}
        </div>
    </div>
</div>
<div class="modal fade" id="myScheduleCourses" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ modal_courses }}</h4>
            </div>
            <div class="modal-body">
                {% if asx_results %}
                    <a href="">{{ all_text }}</a><br/><br/>
                    {% for result in asx_results %}
                        <a href="{{ current_url }}&id={{ result.id }}">{{ result.name }}, {{ result.subCourse }} - {{ result.level }}</a><br/><br/>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ modal_close }}</button>
            </div>
        </div>
    </div>
</div>
{{ footer }}